/NOMBRE:ROSALBA ISABEL CUEVAS MURILLO GRUPO:4BPM/
/DAW/

h1{
color:blue;
text-align:center;
font-family:optima;
}
h3{
color:#777684;
}
.derecha{text-align:right;}
.izquierda{text-align:left;}
.centro{text-align:center;}

h4{
color:pink;
font-family:arial;
text-align:right;
}
h2{
text-align:center;
font-family:times;
color:blue;
}
img{
width:10%;
height:10%;
align:center;
}
h1{
color:blue;
text-align:center;
font-family:optima;
}
table{
float:center;
border-collapse:collapse;
margin:25px 0;
font-size:0.9em;
min-width:400px;
border-radius: 5px 5px 0 0;
overflow:hidden;
border:1px;
background-color:#f3f3f3;
}

</body>
</html>




